<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.devyk.av.camerapreview">
    <application>
        <activity android:name=".sample.CameraPreviewActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".sample.ShareTextureIdActivity"/>
        <activity android:name=".sample.GLSampleActivity"/>
        <activity android:name=".sample.DrawBitmapActivity"/>
        <activity android:name=".sample.VideoRecordingActivity"/>
    </application>
</manifest>
